{% extends "base.html" %}

{% block content %}
<nav class="top-bar" data-topbar> 
	<ul class="title-area"> 
		<li class="name"> <h1><a href="#">Administration</a></h1> </li> 
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> 
	</ul> 
	<section class="top-bar-section"> 
			<ul> 
				<li class="right"><a href="/logout">Logout</a></li> 
			</ul> 
			<ul> 
				<li><a href="/admin">Dashboard</a></li> 
				<li><a href="/admin/games">Games</a></li>
			</ul> 

		</section> 
	</nav>
	{% block contentArea %}{% endblock %} 
{% endblock %}